.main-div {
    height: 100vh;
    padding: 2rem;
    background-color: rgba(103, 70, 49, 0.878);
}

.ifinscroll {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 450px) {
    .ifinscroll {
        display: flex;
        flex-direction: column;
    }
}