.div-main-contact-page {
    background-color: rgb(102, 102, 53);
    justify-content: center;
    align-items: center;
    padding: 3%;
    
}

.div-main-contact-page h2{
    text-align: center;
    font-size: 54px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 3rem;
    font-weight: bold;
}
