.div-carousel {
    display: flex;
    justify-content: center;
}

.main-home-page{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about {
    display: flex;
    height: 100vh;
}

.image {
    width:550px; 
    height:500px;
    margin: 5rem;
}

.box {
    margin: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.title {
    font-family:'Times New Roman', Times, serif;
    font-size: 54px;
    font-weight: bold;
}

.content {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    direction: rtl;

}

.sending-to-the-site {
    background-color: darkslategray;
}

.title-sending-to-the-site {
    padding-top: 10rem;
    text-align: center;
    font-size: 55px;
    font-family:'Times New Roman', Times, serif;
    direction: ltr;
}

.div-button-to-site {
    display: flex;
    gap: 2rem;
    margin: 3rem;
    padding-left: 10%;
}

.button-on-div {
    width: 330px;
}

.div-details {
    direction: rtl;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 7rem;
    
}

.div-details-contact {
    margin: 3rem;
    color: white;
}

.div-details-contact-icons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.links {
    font-size: 13px;
    text-decoration: none;
    color: white;
}

.links:hover{
    color: gray;
}

.dropbtn {
    color: white;
    font-size: 13px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  .dropdown-content a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    direction: rtl;
  }

  .dropdown-content a:hover {
    color: gray;
  }


  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    background-color: black;


}

.dropbtn:hover {
    color: gray;
}


.carousel {
    height: 97%;
    width: 84%;
    padding: 6%;
}

.carousel-item {
    padding-left: 17%;
}

.card {
    width: 80%;
}

.card-img {
    width: 100%;
}

.title-db-empty {
    text-align: center;
    font-family:Monospace;
    font-size: 45px;
}

@media screen and (max-width: 750px) {
    .carousel {
        height: 100%;
        width: 100%;
        padding: 6%;
    }
    
    .carousel-item {
        padding-left: 0%;
    }
    
    .card {
        width: 100%;
    }
    
    .card-img {
        width: 100%;
    }

    .div-carousel {
        display: flex;
    }

    .div-button-to-site {
        display: flex;
        gap: 1rem;
        margin: 2rem;
        padding-left: 2%;
    }

    .button-on-div {
        width: 140px;
        height: 90px;
        font-size: 17px;
        text-align: center;
    }

    .div-details {
        height: 110vh;
        direction: rtl;
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }

    .div-details-contact {
        margin: 2rem;
        color: white;
    }

    .about {
        display: flex;
        flex-direction: column;
        height: 150vh;
    }

    .image {
        width:250px; 
        height:400px;
    }

    .box {
        margin: 2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .title-db-empty {
        text-align: center;
        font-family:Monospace;
        font-size: 22px;
    }
    
  } 
