.div-of-title {
    text-align: center;
    font-family: monospace;
    direction: rtl;
}

.div-of-title h2{
    text-align: center;
}

.div-of-details {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    direction: rtl;
}

.div-of-contact {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    direction: rtl;
}

.div-of-photo {
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: center;    
}


.carousel_modal {
    height: 25%;
    width: 65%;
    display: flex;
}

.carousel-item-modal {
    padding-left: 0%;
}

.carousel_img {
    width: 100%;
}

@media screen and (max-width: 750px) {

    .carousel_modal {
        height: 35%;
        width: 100%;
        display: flex;
    }
    
    .carousel-item-modal {
        padding-left: 0%;
    }
    
    .carousel_img {
        width: 100%;
    }

}
