.div-of-title {
    text-align: center;
    font-family: monospace;
    direction: rtl;
}

.div-of-title h2{
    text-align: center;
}

.div-of-details {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    direction: rtl;
}

.div-of-contact {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    direction: rtl;
}

.div-of-photo {
    align-items: center;
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.carousel_modal {
    height: 25rem;
    width: 55rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 18%;
    top: 85%;
}

.carousel_img {
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
    
}

@media screen and (max-width: 450px) {

    .carousel_modal {
        height: 25rem;
        width: 21rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 11%;
        top: 60%;
    }
    
    .carousel_img {
        height: 150px;
        width: 223px;
        justify-content: center;
        align-items: center;
        
    }

}
