  .dropdown-city {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 40%;
  }
  
  .dropdown-city:empty {
    border: none;
  }
  
  .dropdown-city-row {
    cursor: pointer;
    text-align: start;
  }
  