.div-about-the-page {
    background-color:black;
}

.div-title-about-the-page {
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    color: floralwhite;
}

.div-title-about-the-page h2 {
    font-family:monospace;
    font-size: 54px;
    font-weight: bold;
    direction: rtl;
}

.div-context-about-the-page {
    text-align: center;
    direction: rtl;
    padding: 2%;
}

.div-context-about-the-page p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: floralwhite;
}

.div-of-all-cards{
    text-align: center;
    background-color:floralwhite;
    padding: 2rem;
}

@media screen and (max-width: 750px) {
    .div-of-all-cards{
        text-align: center;
        background-color:floralwhite;
        padding: 6%;
    }
}
